In [203]:
# imports
import os
import json
import pprint
import pandas as pd

# constants
CURRENT_DIR = os.getcwd()
DATA_DIR = os.path.abspath(os.path.join(CURRENT_DIR, 'data'))
MOJO_DIR = os.path.join(DATA_DIR, 'boxofficemojo')
metacritic_DIR = os.path.join(DATA_DIR, 'metacritic')

##LOADING DATA

In [182]:
def load_mojo_data():
    file_contents = os.listdir(MOJO_DIR)

    movie_list = []

    for filename in file_contents:
        filepath = os.path.join(MOJO_DIR, filename)

        with open(filepath, 'r') as movie_file:
            movie_data = json.load(movie_file)

        movie_list.append(movie_data)

    print "Parsed %i movies from %i files" % (len(movie_list),
                                              len(file_contents))
    return movie_list

def load_metacritic_data():
    file_contents = os.listdir(metacritic_DIR)

    movie_list = []

    for filename in file_contents:
        filepath = os.path.join(metacritic_DIR, filename)
        
        with open(filepath, 'r') as movie_file:
            movie_data = json.load(movie_file)
        if type(movie_data)==dict:
            movie_list.append(movie_data)

    print "Parsed %i movies from %i files" % (len(movie_list),
                                              len(file_contents))
    return movie_list

In [183]:
import loaddata
import pandas as pd
movie_dicts_mojo = loaddata.load_mojo_data()
movie_df_mojo = pd.DataFrame(movie_dicts_mojo)
movie_dicts_meta = load_metacritic_data()
movie_df_meta = pd.DataFrame(movie_dicts_meta)

Parsed 3728 movies from 3728 files
Parsed 4765 movies from 4767 files

In [185]:
#clean title

#metacric_df2['title']=metacric_df2.title_Upper.str.strip() 
#movie_df_meta.drop('unable to retrieve', axis=1, inplace=True) 
#metacric_df1=metacric_df.drop(metacric_df.index[[4764]]) 
movie_df_meta['title_Upper']=movie_df_meta.title.str.upper() 
movie_df_meta['title_new']=movie_df_meta.title_Upper.str.replace(r'\W+','',case=False)
movie_df_mojo['title_Upper']=movie_df_mojo.title.str.upper() 
movie_df_mojo['title_new']=movie_df_mojo.title_Upper.str.replace(r'\W+','',case=False)

In [187]:
#clean director
movie_df_meta['director_upper']=movie_df_meta.director.str.upper() 
movie_df_meta['director_new']=movie_df_meta.director_upper.str.replace(r'\W+','',case=False)
movie_df_mojo['director_upper']=movie_df_mojo.director.str.upper() 
movie_df_mojo['director_new']=movie_df_mojo.director_upper.str.replace(r'\W+','',case=False)

In [188]:

#Clean year
movie_df_mojo['year']=pd.to_numeric(movie_df_mojo['year'])
movie_df_meta['year']=pd.to_numeric(movie_df_meta['year'])

In [209]:

# Join based on title and Year
movie_merge= pd.merge(movie_df_mojo,movie_df_meta, on=['title_new', 'year'], how="inner")

In [177]:
#check for duplicates
#movie_merge[movie_merge.duplicated(['title_new'])][['director_x','director_new_x','director_y']]
# clean_movie_df_dir = movie_df_dir[related_columns].dropna()

Empty DataFrame
Columns: [director_x, director_new_x, director_y]
Index: []

In [202]:
#load it out to excel
data_description=movie_merge.describe()
data_description.to_csv('./data_description.csv')

In [235]:
import numpy as np
#movie_merge.production_budget[movie_merge.production_budget.isnull()] = movie_merge.production_budget.mean()
movie_merge_fill=movie_merge.fillna(movie_merge.mean())

In [237]:
movie_merge.describe()

,domestic_gross,opening_per_theater,opening_weekend_take,production_budget,widest_release,worldwide_gross,year,metascore,num_user_ratings,runtime_minutes
count,3.305000e+03,3242.000000,3.242000e+03,3.348000e+03,3267.000000,2.627000e+03,3347.000000,3271.000000,3207.000000,3295.000000
mean,3.746890e+07,7876.739050,9.302936e+06,4.671307e+07,1408.373431,9.405645e+07,2005.665073,57.651483,122.256314,107.376935
std,5.798597e+07,8402.588393,1.437162e+07,2.752469e+07,1303.585481,1.518945e+08,7.717237,18.073014,219.848935,19.315297
min,7.200000e+01,72.000000,7.200000e+01,2.200000e+02,1.000000,7.200000e+01,1967.000000,1.000000,4.000000,60.000000
25%,6.858390e+05,3300.000000,5.134250e+04,4.000000e+07,58.000000,6.247501e+06,2002.000000,45.000000,23.000000,94.000000
50%,1.440156e+07,5624.500000,3.761571e+06,4.671307e+07,1212.000000,3.857436e+07,2007.000000,58.000000,57.000000,104.000000
75%,5.185488e+07,9590.000000,1.326648e+07,4.671307e+07,2635.500000,1.210275e+08,2012.000000,71.000000,130.000000,117.000000
max,7.605076e+08,204230.000000,1.741446e+08,2.150000e+08,4468.000000,2.787965e+09,2015.000000,100.000000,4002.000000,325.000000

In [229]:
movie_merge.describe()

,domestic_gross,opening_per_theater,opening_weekend_take,production_budget,widest_release,worldwide_gross,year,metascore,num_user_ratings,runtime_minutes
count,3.305000e+03,3242.000000,3.242000e+03,1.507000e+03,3267.000000,2.627000e+03,3347.000000,3271.000000,3207.000000,3295.000000
mean,3.746890e+07,7876.739050,9.302936e+06,4.671307e+07,1408.373431,9.405645e+07,2005.665073,57.651483,122.256314,107.376935
std,5.798597e+07,8402.588393,1.437162e+07,4.103343e+07,1303.585481,1.518945e+08,7.717237,18.073014,219.848935,19.315297
min,7.200000e+01,72.000000,7.200000e+01,2.200000e+02,1.000000,7.200000e+01,1967.000000,1.000000,4.000000,60.000000
25%,6.858390e+05,3300.000000,5.134250e+04,1.700000e+07,58.000000,6.247501e+06,2002.000000,45.000000,23.000000,94.000000
50%,1.440156e+07,5624.500000,3.761571e+06,3.500000e+07,1212.000000,3.857436e+07,2007.000000,58.000000,57.000000,104.000000
75%,5.185488e+07,9590.000000,1.326648e+07,6.500000e+07,2635.500000,1.210275e+08,2012.000000,71.000000,130.000000,117.000000
max,7.605076e+08,204230.000000,1.741446e+08,2.150000e+08,4468.000000,2.787965e+09,2015.000000,100.000000,4002.000000,325.000000

In [220]:
A = imp.transform(movie_merge["production_budget"])

c:\Users\wme329\AppData\Local\Continuum\Anaconda2\lib\site-packages\sklearn\utils\validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
c:\Users\wme329\AppData\Local\Continuum\Anaconda2\lib\site-packages\sklearn\preprocessing\imputation.py:344: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 3348 but corresponding boolean dimension is 2
  missing = np.arange(X.shape[not self.axis])[invalid_mask]

ValueError: operands could not be broadcast together with shape (2,) (3348,)

In [217]:
imp.fit([[1, 2], [np.nan, 3], [7, 6]])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [ ]:
Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [ ]:
X = [[np.nan, 2], [6, np.nan], [7, 6]]

In [218]:
print(imp.transform(X))

[[ 4.          2.        ]
 [ 6.          3.66666667]
 [ 7.          6.        ]]

In [219]:
movie_merge.head()

,alt_title,director_x,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title_x,...,rating,release_date,runtime_minutes,studio,title_y,unable to retrieve,user_score,title_Upper_y,director_upper_y,director_new_y
0,"10,000 B.C. (2008)",Roland Emmerich,94784201.0,10000bc,10518.0,35867488.0,105000000.0,None,2008-03-07,"10,000 B.C.",...,PG-13,2008-03-07,109.0,Warner Bros. Pictures,"10,000 BC",NaN,4.6,"10,000 BC",ROLAND EMMERICH,ROLANDEMMERICH
1,102 Dalmatians (2000),None,66957026.0,102dalmatians,7353.0,19883351.0,85000000.0,None,2000-11-22,102 Dalmatians,...,G,2000-11-22,100.0,Buena Vista Pictures,102 Dalmatians,NaN,5.3,102 DALMATIANS,KEVIN LIMA,KEVINLIMA
2,10 Things I Hate About You (1999),None,38178166.0,10thingsihateaboutyou,3668.0,8330681.0,30000000.0,None,1999-03-31,10 Things I Hate About You,...,PG-13,1999-03-31,97.0,Buena Vista Pictures,10 Things I Hate About You,NaN,7,10 THINGS I HATE ABOUT YOU,GIL JUNGER,GILJUNGER
3,10 Years (2012),Jamie Linden,203373.0,10years,7569.0,22707.0,NaN,None,2012-09-14,10 Years,...,R,2012-09-14,100.0,Anchor Bay Entertainment,10 Years,NaN,6.6,10 YEARS,JAMIE LINDEN,JAMIELINDEN
4,11 Flowers (2013),None,9213.0,11flowers,1758.0,3516.0,NaN,None,2013-02-22,11 Flowers,...,Not Rated,2013-02-22,110.0,First Run Features,11 Flowers,NaN,tbd,11 FLOWERS,XIAOSHUAI WANG,XIAOSHUAIWANG